
main{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    margin: 6rem 5rem ;
    padding: 4rem 2rem;
}
.form > h2{
    color: orange;
    font-size: xx-large;

}
label{
    padding:0rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    margin-bottom: 10px;
}