.form{
    text-align: center;
    justify-content: center;
    background-color: antiquewhite ;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10rem;
    padding: 1rem;
    line-height: 30px;
    border-radius: 1rem;
    margin-top: 2rem;
}
.form>label{
    color: orange;
    margin-bottom: 1rem;
    text-align: start;
}
main{
    
}
.form>input{
    border-radius: 10px;
    padding-bottom: 11px;
    padding-top: 11px;
    padding-right: 7rem;
    background-color:white ;
}

button{
    font-size: 14px;
    color: white;
    background-color: red ;
    border-radius: 1rem;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    cursor: pointer;
    padding-left: 4rem;
    padding-right: 4rem;
    border-style: none;
}
.form > h2{
    color: orange;
}

button:hover{
    color: red;
    background-color:lightblue;
    transition: 0.5s;
    cursor: pointer;
}

#date{
    padding-left: 4rem;
    padding-right: 4rem;
    width: 10pc;
}

input:invalid{
    /* border: 2px solid red; */
    border-style: none;
}

#set{
    display: flex;
    justify-content: center;
    border-style: none;
    /* background-color: brown; */
    /* border: 1px;
    width: 60rem;
    border-style: ; */
    
    
}
