
main{
    display: flex;
    justify-content: center;
    background-color: rgb(248, 210, 140);
    margin: 6rem 5rem ;
    padding: 4rem 2rem;
}
.form > h2{
    color: navy;
    font-size: xx-large;

}
label{
    padding:0rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    margin-bottom: 10px;
}
.form > button{
    border-radius: 5em;
    padding: 3%;
    color: navy;
    background-color: antiquewhite;
    width: 3cm;
    
}
.form{
   color: navy;
}
button:hover{
    color: red;
    background-color:lightblue;
    transition: 1s;
}